<canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="720px" width="800px"></canvas>
<script type='text/javascript'>
	var Module = {
		TOTAL_MEMORY: 268435456,
    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    dataUrl: "/builds/Angler/Release/WebBuilds.data",
    codeUrl: "/builds/Angler/Release/WebBuilds.js",
    memUrl: "/builds/Angler/Release/WebBuilds.mem",
    
};
</script>
<script src="/builds/Angler/Release/UnityLoader.js"></script>