<canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
<script type='text/javascript'>
	var Module = {
		TOTAL_MEMORY: 268435456,
    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    dataUrl: "/builds/Downstage Draft/Release/webgl.data",
    codeUrl: "/builds/Downstage Draft/Release/webgl.js",
    memUrl: "/builds/Downstage Draft/Release/webgl.mem",
};
</script>
<script src="/builds/Downstage Draft/Release/UnityLoader.js"></script>