	<canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="800px"></canvas>
	<script type='text/javascript'>
		var Module = {
			TOTAL_MEMORY: 268435456,
    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    backgroundColor: "#000000",
    splashStyle: "Light",
    dataUrl: "/builds/Spellbound/Release/WEBGL.data",
    codeUrl: "/builds/Spellbound/Release/WEBGL.js",
    asmUrl: "/builds/Spellbound/Release/WEBGL.asm.js",
    memUrl: "/builds/Spellbound/Release/WEBGL.mem",
};
</script>
<script src="/builds/Spellbound/Release/UnityLoader.js"></script>