<title>
	Team Spontaneous Combustion - About
</title>

<div id="Content">

	<div class="AboutList">
		<h1>IJZM</h1>
		<p>
			IJZM is the programmer for TSC. He programs all our games in Unity and squashes out the army of bugs determined to break his code. He may seem somewhat derpy, but when the deadline is 30 minutes away you have never seen a more focused person.
		</p>
		<img src="/assets/IJZM.png">
	</div>

	<div class="AboutList">
		<h1>Tiny Castle Guy</h1>
		<p>
			TCG fills a lot of roles in the team, such as sound design, level design, and art. He is always positive thinking and keeps our games on track when everything seems to be falling apart.
		</p>
		<img src="/assets/Tiny Castle Guy.png">
	</div>

	<div class="AboutList">
		<h1>Random-StoryKeeper</h1>
		<p>
			Random-storykeeper is the composer for TSC. Supported by her army of penguins, she composes some very catchy tunes for all the TSC games. She also lends her voice to some of the TSC characters. She composes mostly in FL Studio, PXtone, or ORG Maker.
		</p>
		<img src="/assets/Random-StoryKeeper.png">
	</div>

	<div class="AboutList">
		<h1>Takeshi64</h1>
		<p>
			Takeshi is the glitchy artist for TSC. He’s there, but not actually there, but when he’s there, his art is on point. Even though he’s better fried, he’s even better as a friend.
		</p>
		<img src="/assets/Takeshi64.png">
	</div>

	<div class="AboutList">
		<h1>Frostyflytrap</h1>
		<p>
			A derp
		</p>
		<img src="/assets/Frostyflytrap.png">
	</div>

</div>