<title>
	Team Spontaneous Combustion - About
</title>

<div id="Content">

	<div class="AboutList">
		<h1>IJZM</h1>
		<p>
			A derp
			<br>
			Programmer
		</p>
		<img src="/assets/IJZM.png">
	</div>

	<div class="AboutList">
		<h1>Tiny Castle Guy</h1>
		<p>
			A derp
		</p>
		<img src="/assets/Tiny Castle Guy.png">
	</div>

	<div class="AboutList">
		<h1>Random-StoryKeeper</h1>
		<p>
			A derp
			<br>
			does most of the serious art for our team
			<br>
			our team wouldnt have art without her
			<br>
			praise the potato
		</p>
		<img src="/assets/Random-StoryKeeper.png">
	</div>

	<div class="AboutList">
		<h1>Takeshi64</h1>
		<p>
			A derp
		</p>
		<img src="/assets/Takeshi64.png">
	</div>

	<div class="AboutList">
		<h1>Frostyflytrap</h1>
		<p>
			A derp
		</p>
		<img src="/assets/Frostyflytrap.png">
	</div>

</div>