#mainpage {
	margin: auto;
	width: 1000px;
	background-color: black;
}

#logo {
	margin: auto;
	width: 370px;
}

#navbar {
	margin: auto;
	width: 972px;
	transform: translate(0, 25px);
}

#navbar a {
	color: transparent;
	text-decoration: none;
	cursor: auto;

	display: inline-block;
	width: 240px;
	height: 50px;

	background-position: 0px 0px
}

#navbar a:hover {
background-position: 0px 50px
}

#content {
	background-image: url("./bg.png");
	background-repeat: round;
}

.container {
	display:block;
	width: 900px;
	margin:auto;
	margin-top: 5px;
	height: 100px;
	background-color: blue;
	color:black;
	text-decoration: none;

}

.container:hover {
	background-color: white;
	cursor:pointer;
}

.container img {
	width: 250px;
	height: 90px;
	margin: 5px;
	display: inline-block;
	float: right;
}

.container div {
	width: 630px;
	height: 90px;
	margin: 5px;
	display: inline-block;
	background-color: red;
}

.container div h3,
.container div p {
	margin-left: 5px;
	margin-top: 5px;
}

.blog {
	height: auto;
}

.blog:hover {
	background-color: blue;
	cursor: auto; !important
}

.blog div {
	width: 890px;
	height: auto;
}
