body {
	 margin: 0;
	 background-image: url("./bg.png");
}

#mainpage {
	margin: auto;
	width: 1000px;
}

#logo {
	margin: auto;
	width: 1000px;
	height: 291px;
	background-image: url("./headerbg.png") ;

	display: flex;
  justify-content: center;
  align-items: center
}

#logo a {
	width: 370px;
	display: block;
}

#navbar {
	margin: auto;
	width: 1000px;
	transform: translate(0, 15px);
	background-image: url("./contentbg.png");
}

#navbar a {
	color: transparent;
	text-decoration: none;
	cursor: auto;

	display: inline-block;
	width: 240px;
	height: 50px;

	background-position: 0px 0px;

	z-index: 1;
	transform:translate(0,-16px);
}

#navbar a:hover {
background-position: 0px 50px
}
#navbar .current-link {
background-position: 0px 50px
}
#navbar :first-child{
		margin-left: 14px !important
}

#content {
	margin: auto;
	width: 1000px;
	background-image: url("./contentbg.png");
	transform:translate(0, -1px);
}

#navbar::before {
	content: "";
	width: 1000px;
	height: 15px;
	background-image: url("./contentbgtop.png");
	transform: translate(-0, -15px);
	display:block;
}

#content::after {
	content: "";
	width: 1000px;
	height: 15px;
	background-image: url("./contentbgbottom.png");
	display:block;
}

.container {
	display:block;
	width: 900px;
	margin:auto;
	margin-top: 5px;
	height: 100px;
	background-color: #B88212;
	color:black;
	text-decoration: none;

}

.container:hover {
	background-color: #FBC200;
	cursor:pointer;
}

.container img {
	width: 250px;
	height: 90px;
	margin: 5px;
	display: inline-block;
	float: right;
}

.container div {
	width: 630px;
	height: 90px;
	margin: 5px;
	display: inline-block;
	background-color: #FBC200;
}

.container div:hover {
	background-color: #B88212;
}

.container div h3,
.container div p {
	margin-left: 5px;
	margin-top: 5px;
}

.blog {
	height: auto;
}

.blog:hover {
	background-color: #FBC200;
	cursor: auto; !important
}

.blog div {
	width: 890px;
	height: auto;
}
