<html>

{% include navbar.html %}

<title>
	{{page.title}} - TSC
</title>

<div id="Content">
	<div id="GameHeader">
		<h1 id="GameTitle"> 
			{{page.title}}
		</h1>
		<img id="GameLogo" src="/assets/Logos/{{page.title}}.png">
	</div>
	<div id="Game" style="width:{{page.width}}; height:{{page.height}};">
		{% include {{ page.location }} %}
	</div>

	<div id="BottomContent">
		<p id="Description">
			{{page.desc}}
		</p>

		
		<div>
			<div id="Controls">
				<h3 id="ControlsTitle">Controls</h3>
				{{ page.controls }}
			</div>
			<div id="Instructions">
				<h3 id="InstructionsTitle">Instructions</h3>
				{{ page.instructions }}
			</div>
		</div>

		<div id="ContentFooter">
			Made in {{page.time}} for the {{page.made}} - <a href="{{page.jampage}}">[Entry Page]</a>
		</div>
		<a href="{{page.bandcamp}}">
			Soundtrack
		</a>
	
	</div>
</div>

</html>