<html>

{% include navbar.html %}

<title>
	{{page.title}} - TSC
</title>

<div id="Content">
	<h1 id="GameTitle"> 
		{{page.title}}
	</h1>
	<img id="GameLogo" src="/assets/Logos/{{page.title}}.png">
	<div id="Game" style="width:{{page.width}}; height:{{page.height}};">
		<iframe src="{{site.url}}/builds/{{page.title}}" width="{{page.width}}" height="{{page.height}}" scrolling="no"></iframe>
	</div>

	<div id="BottomContent">
		<h3 id="DescriptionTitle">
			Description
		</h3>
		<p id="Description">
			{{page.desc}}
		</p>

		<h3 id="ControlsTitle">
			Controls
		</h3>
		<p id="Controls">
			TODO: WRITE CONTROLS
		</p>



		<p>
			Made in {{page.time}} for the {{page.made}} - <a href="{{page.jampage}}">[Entry Page]</a>
		</p>

	</div>


</div>

</html>